<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="includes/header">

    <title>Todolist</title>
</head>

<body>
    <!-- Navigation -->
    <nav th:fragment="nav-bar" class="navbar navbar-expand-lg">
        <div class="container">
            <a href="#" class="navbar-brand">Activity Tracker</a>
            <div class="collapse navbar-collapse" id="todolist-menu">
            </div>
        </div>
    </nav>

    <!-- Dashboard -->
    <div id="todo" class="py-5">
        <div class="container">
            <div class="img-content-wrapper">
                <img src="img/img-holder.png" class="img-fluid rounded" alt="">
                <h4 class="dashboard-title">
                    <a href="#">Add Todos</a> </h4>
            </div>
            <!-- Create todo project -->
            <div id="add-todo">
                <form th:action="@{/user/addTask}" method="post" th:object="${newTask}">
                    <div class="form-group">
                        <input type="text" th:field="${newTask.title}" class="form-control" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <textarea rows="3" th:field="${newTask.description}" class="form-control" placeholder="Description..."></textarea>
                    </div>

                    <div class="form-group row">
                        <div class="col-12">
                            <input class="form-control"  th:field="${newTask.dueDate}" type="date" placeholder="Due date">
                        </div>
                    </div>
                    <div id="action-buttons" class="text-center">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="my-3">
        <div class="footer-bottom">
            <div class="container">
                <p class="text-white">Copyright &copy;2022. All Rights Reserved.</p>
            </div>
        </div>
    </footer>
    <!-- jquery -->
    <div th:replace="includes/footer"></div>
</body>

</html>