<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:insert="includes/header">

    <title>Todolist</title>
</head>

<body>
    <!-- Navigation -->
 <nav th:replace="includes/nav :: nav-bar"></nav>

    <!-- register section -->
    <div id="register" class="">
        <div class="container">
            <div class="row">
                <!-- Left infor side -->
                <div class="col-md-8">
<!--                    <div class="info-img-wrapper">-->
<!--                        <img class="img-fluid" src="img/Capa 1.png" alt="content image">-->
<!--                    </div>-->
                    <h4 class="text-black">If we commit ourselves to the successful completion of a task, then we personify Excellence!</h4>
                </div>
                <!-- right signup side -->
                <div class="col-md-4">
                    <div id="register-form-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title">Please register here to get started.</div>
                                <form th:action="@{/user/userRegistration}" th:object="${userRegistrationDetails}" method="post">
                                    <div class="form-group">
                                        <input type="text"  th:field="${userRegistrationDetails.name}" class="form-control" placeholder="Name" name="name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" th:field="${userRegistrationDetails.email}" class="form-control" placeholder="Email Address" name="email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password"  th:field="${userRegistrationDetails.password}" class="form-control" placeholder="Password" name="password">
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-lg btn-block btn-general btn-register" value="Register">
                                    </div>
                                </form>
                                <div class="card-text text-white">Already have an account? <a th:href="@{/user/login}">Login
                                        here...</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer>
        <div class="footer-bottom">
            <div class="container">
                <h4 class="footer-text text-white">Activity Tracker</h4>
                <p class="text-white">Copyright &copy;2022. All Rights Reserved.</p>
            </div>
        </div>
    </footer>

<div th:replace="includes/footer"></div>
</body>

</html>